#textoLogo {
    position: relative;
    left: 5%;
    font-size: 181%;
    top: -3%;
    padding: 0;
}

.bg-dark {
    background-color: #494f56!important;
}

#sair {
    background: #3e3a4d;
    color: #fff;
    border-radius: 5px;
    margin-right: 50px;
}